<footer class="bg-dark text-white">
        <div class="container py-4">
          <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Customer services</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="{% url 'store:contact' %}">Help &amp; Contact Us</a></li>
                <li><a class="footer-link" href="{% url 'store:return_refund' %}">Returns &amp; Refunds</a></li>
                <li><a class="footer-link" href="{% url 'store:online_store' %}">Online Stores</a></li>
                <li><a class="footer-link" href="{% url 'store:terms_conditons' %}">Terms &amp; Conditions</a></li>
              </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Company</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="{% url 'store:what_we_do' %}">What We Do</a></li>
                <li><a class="footer-link" href="{% url 'store:services' %}">Available Services</a></li>
                <li><a class="footer-link" href="{% url 'store:blog_list' %}">Latest Posts</a></li>
                <li><a class="footer-link" href="{% url 'store:faqs' %}">FAQs</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3">Social media</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Twitter</a></li>
                <li><a class="footer-link" href="#">Instagram</a></li>
                <li><a class="footer-link" href="#">Pinterest</a></li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
              <div class="col-lg-10">
                <p class="small text-muted mb-0" style="margin-left:450px; font-size:17px;">&copy; 2025 All rights reserved.</p>
              </div>
              {% comment %} <div class="col-lg-6 text-lg-right">
                <p class="small text-muted mb-0">Website by <a class="text-white reset-anchor" href="https://vedant00.pythonanywhere.com/" target="_blank">Vedant Thate and Team</a></p>
              </div> {% endcomment %}
            </div>
          </div>
        </div>
      </footer>