{% extends 'base.html' %}
{% load static %}

    {% block content %}

      <div class="container">
        <section class="py-5 blog-header mb-5">
          <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
              <div class="col-lg-6">
                <h1 class="h2 text-uppercase text-lg-left">Change Password</h1>
              </div>
              <div class="col-lg-6 text-lg-right">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-transparent">
                    <li class="breadcrumb-item active"><a href="{% url 'store:home' %}">Home</a></li>
                    <li class="breadcrumb-item" aria-current="page">Change Password</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <div class="col-md-8 offset-2 ">

              
        <div class="card mb-4" id="forms">
          
          <div class="card-body">
              
            {% include 'partials/_messages.html' %}

            <form method="post" action="">
              <fieldset>
                {% csrf_token %}

                {% for fm in form %}
                    <div class="form-group">
                        {{fm.label_tag}}
                        {{fm}}
                        <small class="text-danger">{{fm.errors|striptags}}</small>
                    </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Save</button>
              </fieldset>

              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">
                        {{error}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </p>
                {% endfor %}
              {% endif %}


            </form>

            
          </div>
        </div>

        </div>       
      </div>
{% endblock content %}